@font-face {
    font-family: 'moderatlight';
    src: url('font/moderat-light-webfont.woff2') format('woff2'),
    url('font/moderat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'moderatregular';
    src: url('font/moderat-regular-webfont.woff2') format('woff2'),
    url('font/moderat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "moderatregular", Arial, Helvetica, sans-serif;
    transition: ease 0.3s all;
}
@media (min-width: 150rem) {
    body,
    .large-img {
        max-width: 50vw;
        margin: 0 auto;
    }
    .large-img {
        max-width: 30vw;
    }
}
h2,
h1,
h3 {
    font-family: "moderatregular", Arial, Helvetica, sans-serif;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 2rem;
}
h2,
h3 {
    
    font-size: 1.5rem;
}
p,
blockquote,
a,
div {
    padding: 1rem 0;
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
ul {
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
}
.projects img {
    margin-left: 1rem;
    transition: all ease 0.2s;
    border-radius: 5%;
}
.projects img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
a {
    text-underline-offset: 0.25rem;
    color: #000000;
    transition: ease 0.3s all;
}
a:hover,
.a-art {
    color: #003cff;
    text-decoration: underline;
}
.a-back {
    text-decoration: none;
}
.a-back {
    display: block;
    text-align: right;
}
.a-art--black ,
label {
    color: black;
    font-size: 1.2rem;
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    width: 100%;
    max-width: 58rem;
    margin: 0 auto 5rem;
}
@media (min-width: 65rem) {
    header {
        padding: 2.5rem 0;
    }
}
header a {
    text-decoration: none;
    color: black;
}
.links-style {
    font-size: 1.5rem;
    line-height: 2.2rem;
    list-style: none;
    padding: 0;
}
.main-logo {
    width: 15rem;
    height: 5rem;
    max-width: 100%;
    background-image: url(../img/afbeeldingen/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}
.a-arne:hover {
    color: black;
}

/* Art & Exhibitions */

.page-filter,
.projects {
    max-width: 58rem;
    width: 100%;
    margin: 0 auto;
}
.page-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto 6rem;
}
.page-filter button {
    font-size: 1.2rem;
    border: none;
    background-color: #FFFFFF;
}
.page-filter button:hover {
    color: #003cff;
    cursor: pointer;
}
.filter-category,
.filter-years {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
    list-style: none;
}
.filter-view {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
.filter-view a {
    padding: 0.5rem;
    font-size: 1rem;
}
.filter-years button {
    font-size: 1rem;
}
.is-filter {
    padding: 0;
}
.box-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
}
@media (min-width: 40rem) {
    .box-article {
        flex-wrap: nowrap;
        gap: 5rem;
    }
}
.box-article--year {
    margin: 0;
}
.box-text {
    width: 100%;
    text-align: right;
}
.box-text h3 {
    font-size: 1.2rem;
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
    margin: 0;
}
.box-text h2 {
    font-size: 1.5rem;
}
@media (min-width: 40rem) {
    .box-text {
        width: 30%;
    }
    .filter-category,
    .filter-years {
        max-width: 60%;
    }
}
.box-images--art {
    overflow: scroll;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.box-images--art ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding-left: 0;
}
@media (min-width: 40rem) {
    .box-images--art {
    flex-wrap: nowrap;
    max-width: 55%;
    overflow-x: auto;
    padding-right: 1rem;
    }
    .filter-category,
    .filter-years {
        max-width: 60%;
    }
}

*::-webkit-scrollbar {
    width: 1rem;
}
*::-webkit-scrollbar:hover {
    cursor: grab;
}
*::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 0.2rem;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #c4c4c4;
    border-radius: 0.2rem;
}

/* Other pages */

main {
    margin: 0 2rem;
}
.highlights {
    gap: 3rem;
    position: relative;
}
.main-container .highlights-contact {
    padding: 0;
    gap: 5rem;
}
.main-container {
    width: 100%;
    max-width: 58rem;
    margin: 2rem auto 5rem;
}
.large-main-img {
    margin: 2rem 0 5rem;
    width: 100%;
    float: left;
}
@media (min-width: 55rem) {
    .large-main-img {
        width: 60%;
        margin-right: 2rem;
    }
}
.large-main-text,
.large-main a {
    margin-right: 5rem;
    text-decoration: none;
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
}
.large-main a {
    display: block;
    margin-top: 2rem;
    font-family: "moderatregular", Arial, Helvetica, sans-serif;
}

.large-main-text h2 {
    padding: 2rem 0;
}
.large-main-text p,
.large-main-text blockquote {
    display: inline;
}
.main-p {
    margin: 1rem 0;
}
.container-highlight {
    margin-bottom: 3rem;
}
.container-highlight a {
    line-height: 3rem;
}
.img-highlight {
    width: 100%;
    margin: 2rem 0 1rem;
}
.tags-grey,
.p-date {
    color: #777777;
    font-size: 1.2rem;
    font-weight: normal;
}
.h1-margin {
    width: 100%;
    max-width: 58rem;
    margin: 1rem auto;
    font-family: "moderatregular", Arial, Helvetica, sans-serif;
}
.bold {
    font-weight: bold;
}
.atelier-box {
    padding: 0;
    position: relative;
}
@media (min-width: 45rem) {
    .p-date {
        position: absolute;
        top: 1rem;
        right: 0;
    }
}
.article-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.article-imgs img {
    width: 26rem;
    max-width: 100%;
    flex-grow: 2;
}
.background-img-fixed {
    height: 30rem;
    background-image: url(../../static/img/afbeeldingen/88cef705c4b2021648f45aaef1fe48bf.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    position: relative;
    width: calc(100vw - 0.51rem);
    left: calc(50% - 50vw);
}
.is-selected {
    color: #003cff;
}

/* Contact-form */


.contact-input {
    height: 2.5rem;
    width: 100%;
    resize: vertical;
    padding-left: 0.5rem;
}
.contact-input {
    border: 1px solid #e6e6e6;
}
.contact-input:invalid {
    color: #777777;
}
.contact-input:valid {
    border: 2px solid rgb(18, 219, 0);
}

.box-contact--item textarea {
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 6rem;
}
form ul {
    padding: 1rem 0;
    list-style: none;
}
form ul li {
    padding: 1rem 0;
}
.submit {
    height: 2rem;
    width: 6rem;
    border: none;
    color: #FFFFFF;
    background-color: #003cff;
}
.submit:hover {
    background-color: #002fc9;
    cursor: pointer;
}
.box-contact,
.box-contact p,
.box-contact--p,
.box-contact--p a {
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.8rem;
    padding: 1rem 0;
}
.box-contact a {
    font-weight: bold;
    text-decoration: none;
}
.box-contact--p {
    color: #777777;
}
.box-contact a:hover {
    text-decoration: underline;
}
label {
    color: #777777;
}

/* Button to top */

.container-btn-totop {
    background-color: white;
    box-shadow: 0 0 0.5rem 1rem #FFFFFF;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3rem;
    opacity: 0;
    transition: all ease-in 0.2s;
}
#btn-totop {
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    position: fixed;
    background-color: #FFFFFF;
    border: none;
    bottom: 1rem;
    left: calc(50% - 4rem);
    width: 8rem;
    height: 2rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 0;
    transition: all ease-in 0.2s;
}
#btn-totop:hover {
    cursor: pointer;
    text-decoration: none;
    color: #003cff;
    border-bottom: 1px solid #003cff;
}
.box-download {
    font-family: "moderatlight", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #999999;
}
.box-download img {
    width: 1.5rem;
    padding-bottom: 1rem;
}
.box-download span {
    font-size: 0.75rem;
}
.box-download a {
    text-underline-offset: 0.25rem;
    padding-bottom: 0.8rem;
}
.h2-padding {
    padding-top: 5rem;
}
.imgs-press {
    width: 20%;
}
.box-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-text a {
    text-decoration: none;
}
.box-text a:hover {
    text-decoration: underline;
}
.is-filter--show {
    text-decoration: underline;
}
.box-image--small {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 9rem;
    padding: 1rem 0;
}
.box-image--small img {
    padding: 0.5rem 0;
    width: 80%;
}
.box-image--small a {
    font-size: 1rem;
}
.list-articles {
    position: relative;
    max-width: 58rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.large-img {
    width: 85vw;
}
.container-center {
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
}
.biography {
    width: 58rem;
    max-width: 100%;
    margin: 0 auto;
}
.biography img {
    padding-top: 3rem;
    max-width: 100%;
}
.biography .tags-grey {
    text-align: right;
}
.biography h1,
.biography h2 {
    font-size: 2rem;
    font-weight: normal;
}
.p-center,
.blockquote-block {
    padding-top: 3rem;
    text-align: center;
}
.blockquote-block blockquote {
    font-size: 2rem;
}
.btn-press {
    top: 10rem;
    left: -4rem;
}
.btn-press div {
    padding: 0;
}
iframe {
    padding: 4rem 0;
    width: 100%;
}

/* Footer */

.footer-socials {
    border-top: 1px solid #e6e6e6;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-soc {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 0.8rem 0;
    text-decoration: none;
    color: black;
}
.logo-social {
    justify-content: center;
    width: 1.5rem;
    padding-bottom: 0.3rem;
}
.footer-info {
    padding: 4rem 2rem 1rem;
    background-color: #e6e6e6;
}
.container-footer {
    width: 100%;
    margin: 0 auto;
    max-width: 58rem;
}
.h2-footer {
    margin-bottom: 2rem;
}
.email,
.email-submit {
    background-color: #e6e6e6;
    border: 1px solid #777777;
    line-height: 2rem;
    width: 100%;
    max-width: 15rem;
    margin-left: 0.5rem;
}
.email-submit {
    margin-top: 0.5rem;
    width: 5rem;
}
.email-submit:hover {
    background-color: #999999;
    cursor: pointer;
}
.footer-row {
    overflow: auto;
    padding: 7rem 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 58rem;
    margin: 0 auto;
    gap: 1rem;
}
.footer-row a,
.footer-h3 {
    padding: 0;
    width: 50%;
    align-self: center;
}
.footer-h3 {
    font-size: 1.5rem;
    max-width: 8rem;
}
.footer-row a {
    text-align: right;
    flex-grow: 10;
    text-decoration: none;
}
.footer-row img {
    align-self: center;
    max-width: fit-content;
    
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 2rem 0 3rem;
    max-width: 58rem;
    margin: 0 auto;
}
.footer-copyright p a {
    text-decoration: none;
    font-size: 1rem;
}
.footer-copyright p a:hover {
    text-decoration: underline;
}
.footer-copyright p {
    font-size: 1rem;
}
.p-footer {
    text-align: end;
}
@media (min-width: 30rem) {
    .footer-row {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .footer-row a,
    .footer-row h2 {
        padding: 0 2rem;
        width: 15rem;
    }
    .footer-row a {
        text-align: left;
    }
    .footer-row img {
        max-height: 4rem;
    }
}
@media (min-width: 45rem) {
    .footer-soc {
      width: 10%;
      margin: 2rem 0;
    }
    .footer-socials {
        max-width: 58rem;
        margin: 0 auto;
        padding: 0 2rem;
        justify-content: space-between;
    }
    .img-highlight {
        display: block;
    }
    .highlights {
        display: flex;
        flex-direction: row;
        max-width: 61rem;
        margin: 0 auto;
        padding-left: 5rem;
    }
    .container-highlight {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-grow: 2;
    }
    .container-articles {
        width: 15rem;
    }
    .ateliers,
    .highlight {
        position: relative;
    }
    .btn-art {
      width: 12rem;
      transform: rotate(-90deg);
      position: absolute;
      top: 10rem;
      text-align: center;
    }
    .container-text-smaller {
        max-width: 100%;
        width: 35rem;
    }
    .boxes-download {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box-download {
        width: 15rem;
    }
}
@media (min-width: 60rem) {
    .img-float {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    .img-float img {
        padding: 2rem 0;
        max-width: 100%;
        width: 25rem;
        order: 2;
        height: min-content;
        align-self: center;
    }
    .img-float p {
        align-self: center;
        padding: 2rem 0;
    }
    .img-float .img-float--1 {
        width: 20rem;
        max-width: 100%;
    }
    .img-float .img-float--2 {
        width: 35rem;
        max-width: 100%;
        align-self: center;
    }
    .img-float--v2 img {
        order: 0;
    }
}
@media (min-width: 80rem) {
    .highlights {
      padding-left: 0;
    }
    .btn-art {
        left: -10rem;
    }
    .btn-main {
        left: -4rem;
    }
}